/**
 * Created by Taejun.Kang on 2023-11-13.
 */

.THIS .slds-form-element__label{
     display : none !important;
 }
/* 여기가 Line Create 창 가로 크기에용 */
 .THIS section.slds-modal.slds-fade-in-open{
     min-width: 25rem !important;
     max-width: fit-content !important;
     margin: 0 auto;
     justify-content: center;
     display:flex;
     position : fixed !important;
     overflow : hidden;


 }

 @media (min-width: 48em) {
     .THIS section.slds-modal.slds-fade-in-open {
         margin:0 auto;
         width: 50% !important;
         max-width: 40rem;
         min-width: 20rem;
     }
}

 .THIS slds-modal__container.slds-modal__container__01{
     width : 100% !important;
     min-width : 100% !important;


 }

 .THIS .slds-modal__content{
     overflow : visible !important;
     overflow-y : visible !important;

 }

/*Record Page 에서 타고 왔을 때 ApprovalLineCreate.cmp 창 크기*/
 .THIS .slds-fade-in-open .slds-modal__container{
     width : 100% !important;
     min-width : 100% !important;

 }

 .THIS .custom-icon-center{
     margin-top : 2%;
 }

 .THIS .titlebox01{
     width : 100% !important;
     min-width : 100% !important;
     display : block;
 }

.THIS #modal-content-id-1 > .slds-grid:nth-child(2) > div{
      display:block !important;
      width : 100%;

}

.THIS .slds-p-around_small.slds-size_6-of-12:hover{
    border : 1px solid #111;
}